<div class="header-back header-back-simple header-back-small">
  <div class="header-back-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-info page-info-simple">
            <h1 class="page-title">{{ include.title }}</h1>
            {% if include.description %}
            <h2 class="page-description">{{ include.description }}</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>