{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}
<div class="header header-over large">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-5">
        <a href="{{ "/" | relative_url }}" class="logo-image logo-animated">
          <img src="{{ "/assets/img/logos/logo.png" | relative_url }}" alt="logo">
        </a>
        {% if multi_lang %}
        <div class="languages  js-languages">
          <span class="language-active js-language-active">English
            <i class="fa fa-angle-down"></i>
          </span>
          <ul class="languages-list js-languages-list">
            <li>
              <a href="#">English</a>
            </li>
            <li>
              <a href="#">Español</a>
            </li>
            <li>
              <a href="#">Deutsch</a>
            </li>
            <li>
              <a href="#">Русский</a>
            </li>
            <li>
              <a href="#">Français</a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-9 col-sm-6 col-xs-7">
        <!-- Menu -->
        <nav class="right helper">
          <ul class="menu sf-menu js-menu">
            {% for path in page_paths %}
              {% assign my_page = site.pages | where: "path", path | first %}
                {% if my_page.title %}
                <li>
                  <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
                {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>